<div id="contact"> </div>
<div class="container">
  <div class="contactContainer">
    <h2 class="heading">
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Veille Technologique</span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        La veille technologique est un processus de surveillance et d'analyse des avancées technologiques pertinentes.
      </span>
    </h2>
    <div class="contactFormContainer" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000"
      data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
      <div style="text-align: center;">
        <img src="\assets\img\gemini.png" alt="gemini">
      </div>

      <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
        data-aos-offset="100" data-aos-once="true">
        <strong> Qu'est ce que GEMINI GOOGLE ? </strong>
        <span></span>
       <p> <br>  Gemini est né de la collaboration entre Google AI et DeepMind, deux des équipes de recherche les plus avancées
        en matière d’intelligence artificielle. Le modèle s’appuie sur l’architecture Meena, développée par Google AI en
        2020, et la fait évoluer en s’appuyant sur les dernières avancées en matière de deep learning et de traitement
        du langage naturel.
      </p>
      </div>

      
      <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
        data-aos-offset="100" data-aos-once="true"> 
        <video controls style="max-width: 100%; height: auto;" >
          <source src="/assets/img/video.mp4" type="video/mp4">
      </video>
      </div>


      <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
        data-aos-offset="100" data-aos-once="true">
        <br>
        <strong> GEMINI 1.0 </strong>
        <span></span>
       <p> accès au grand public le 7 Décembre 2023 
      </p>
      <i>"le premier à surpasser les experts humain" </i>
        <br> - Google
      </div>

      <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
      data-aos-offset="100" data-aos-once="true">
      <br>
      <strong> GEMINI 1.5 & 1.5 Pro </strong>
      <span></span>
     <p> annonce de la nouvelle version le 15 Février 2024 
    </p>
    <i>"elle affiche des améliorations spectaculaire" </i>
      <br> - Google
    </div>



    </div>

    
  <div class="contactFormContainer" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000"
  data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
  
  <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
  data-aos-offset="100" data-aos-once="true">
  <br>
  <strong>Moyen utilisé pour réaliser ma veille technologique </strong>
  <br><br> 
 <p>
  blogs : 
  <br>
  - blogdumodérateur.com
  <br> 
  - blog.google
  <br>
  - veilletechno-it.info 
  <br>
  <br>
   
</p>
</div>


 


  </div>
  </div>
</div>