<div id="contact"> </div>
<div class="container">
  <div class="contactContainer">
    <h2 class="heading">
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">contact</span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Pour toute demande ou information complémentaire, n’hésitez pas à me contacter 
      </span>
    </h2>
    <div class="contactFormContainer" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1000"
      data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
      <div style="text-align: center;">
      </div>

      <div class="text" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000" data-aos-easing="ease forwards"
        data-aos-offset="100" data-aos-once="true">
        <strong> Mon numéro </strong>
        <span></span>
        <p> 06 52 28 00 95 </p>

        <strong> Mon adresse mail </strong>
        <span></span>
        <p> sheinezbenbk&#64;gmail.com </p>

        <strong> LinkedIn </strong>
        <span></span>
        <p> sheinezbenbk </p>

        <strong> Github </strong>
        <span></span>
        <p> sheinezbenbk </p>

    </div>