<div class="container">
  <div class="aboutContainer">
    <h2>
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Présentation </span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Vous trouverez ici plus d'informations sur moi, ce que je fais et mes compétences actuelles.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">

        <div class="aboutContentDetails">

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            L’informatique est un domaine qui m’a toujours intrigué et dans lequel je souhaite trouver ma voie. Ma
            première année de BTS SIO (Services Informatiques aux Organisations) en 2022 a été une véritable découverte,
            au cours de laquelle j’ai réalisé que le développement web et la programmation étaient faits pour moi. C’est
            donc avec conviction que j’ai choisi l’option SLAM (Solutions Logicielles et Applications Métiers) afin de
            poursuivre ce BTS avec passion.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Souhaitant élargir mes compétences et explorer d’autres facettes du numérique, j’ai décidé de poursuivre en
            BUT MMI (Métiers du Multimédia et de l’Internet). Ce cursus me permet d’enrichir mes connaissances en
            informatique tout en m’ouvrant à des disciplines variées comme l’audiovisuel, la 3D et le développement web.
            Une formation complète qui renforce ma polyvalence et ma compréhension globale du numérique.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Mon objectif est de continuer à évoluer dans ce domaine qui me passionne, en approfondissant mes compétences
            et en me perfectionnant pour devenir un développeur accompli.
          </p>
        </div>

      </div>
      <div class="aboutContentSkills">
        <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          Compétences </h3>
        <div class="skills" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/html.png" id="html" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/css.png" id="css" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/js.png" id="js" />
          </div>

          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/bootstrap.png" id="bootstrap" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/spring-boot.png" id="spring boot" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/angular.png" id="angular" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/github.png" id="github" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/TypeScript.png" id="TypeScript" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="./assets/skills/sql.png" id="SQL" />
          </div>
          ...
        </div>
      </div>
    </div>
  </div>

  <div class="aboutContainer">
    <h2>
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Parcours</span>

      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Ici vous trouverez mon parcours scolaire ainsi que mes expériences professionnels en Informatique.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">


        <div class="aboutContentDetails">


          <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Parcours Scolaire </h3>



          <div class="card" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            <div class="card-body">

              <div class="hori-timeline" dir="ltr">
                <ul class="list-inline events">
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-primary text-primary">2022</div>
                      <h5 class="font-size-16">Baccalauréat série Générale</h5>
                      <p class="text-muted"> Spécialité Mathématique & Physique-Chimie. Lycée Jean-Vilar, Meaux</p>

                    </div>
                  </li>
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-success text-success">2023 - 2024 </div>
                      <h5 class="font-size-16">BTS Service Informatiques aux Organisations</h5>
                      <p class="text-muted">Option SLAM. Lycée Léonard de Vinci, Melun
                      </p>

                    </div>
                  </li>
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-danger text-danger"> Actuel</div>
                      <h5 class="font-size-16">BUT MMI </h5>
                      <p class="text-muted">Université Gustave Eiffel, Meaux</p>

                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="aboutContentSkills">
        <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          Expériences Professionnels </h3>



        <div class="card" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <div class="card-body">

            <div class="hori-timeline" dir="ltr">
              <ul class="list-inline events">
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-primary text-primary">6 semaines</div>
                    <h5 class="font-size-16">STAGE - ADMINISTRATION RÉSEAU</h5> 
                    <p class="text-muted">
                      <!-- Au lycée Coubertin de Meaux, j'ai acquis une expérience informatique variée en
                      travaillant avec l'administrateur réseau, couvrant des tâches telles que l'installation de Windows
                      10, la migration des serveurs, la configuration des outils de communication et la résolution de
                      problèmes techniques. De plus, j'ai contribué à renforcer la sécurité du réseau en mettant en
                      place des mesures de protection des données, développant ainsi une compréhension approfondie de la
                      gestion informatique dans une structure éducative. -->
                      Au lycée Coubertin de Meaux, j’ai acquis une expérience en administration réseau en collaborant
                      sur l’installation de Windows 10, la migration des serveurs et la configuration des outils de
                      communication. J’ai également renforcé la sécurité du réseau, développant ainsi une solide
                      compréhension de la gestion informatique en milieu éducatif.
                    </p>

                  </div>
                </li>
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-success text-success">6 séances</div>
                    <h5 class="font-size-16">"FABRIQUE TON ROBOT"</h5>
                    <p class="text-muted"> participation à un projet de fabrication
                      de robot roulant proposé par une association. Nous avons créé un robot et une télécommande
                      numérique en utilisant des cartes Bluetooth et mBlock, développant ainsi nos compétences en
                      programmation et en conception de systèmes robotiques.
                    </p>

                  </div>
                </li>
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-danger text-danger"> 10 semaines</div>
                    <h5 class="font-size-16">STAGE - DÉVELOPPEMENT D'INTERFACE MOBILE </h5>
                    <p class="text-muted">création de l'interface d'une application avec des instructions précis à
                      l'aide Android Studio</p>

                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
