<div class="container">
  <div class="aboutContainer">
    <h2>
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Présentation </span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Vous trouverez ici plus d'informations sur moi, ce que je fais et mes compétences actuelles.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">

        <div class="aboutContentDetails">
          <p class="aboutContentDetailsPara" data-aos="fade-up-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Avant d'intégrer le BTS SIO (Service informatique aux Organisations), j'ai passé mon Baccalauréat série
            Général, avec les options Mathématiques et Physique-Chimie, au lycéee Jean Vilar de Meaux.
          </p>
          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            L'informatique est un domaine qui m'intéressait et dans lequel j'avais envie d'y trouver ma voie, c'est
            ainsi que ma première année fut une total découverte par laquelle j'ai appris que le dévelopement Web et la
            Programmation me correspondait totalement. C'est pour cela que j'ai donc choisis l'option SLAM (Solutions
            Logicielles et Applications Métiers) pour poursuivre avec passion ce BTS.
          </p>
          <p class="aboutContentDetailsPara" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Après le BTS, j'aimerais intégrer la suite d'un BUT MMI (métiers du multimédia et de l'internet parcours
            création numérique)
          </p>
        </div>

      </div>
      <div class="aboutContentSkills">
        <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          Compétences </h3>
        <div class="skills" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/html.png" id="html" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/css.png" id="css" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/js.png" id="js" />
          </div>
         
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/bootstrap.png" id="bootstrap" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/spring-boot.png" id="spring boot" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/angular.png" id="angular" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/github.png" id="github" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/TypeScript.png" id="TypeScript" />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/sql.png" id="SQL" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="aboutContainer">
    <h2>
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Parcours</span>

      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Ici vous trouverez mon parcours scolaire ainsi que mes expériences professionnels en Informatique.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">


        <div class="aboutContentDetails">


          <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Parcours Scolaire </h3>



          <div class="card" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            <div class="card-body">

              <div class="hori-timeline" dir="ltr">
                <ul class="list-inline events">
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-primary text-primary">2022</div>
                      <h5 class="font-size-16">Baccalauréat série Générale</h5>
                      <p class="text-muted"> Spécialité Mathématique & Physique-Chimie, au lycée Jean Vilar de Meaux</p>

                    </div>
                  </li>
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-success text-success">2023 - 2024 </div>
                      <h5 class="font-size-16">BTS Service Informatiques aux Organisations</h5>
                      <p class="text-muted">Option SLAM <span></span> Lycée Léonard de Vinci, Melun
                      </p>

                    </div>
                  </li>
                  <li class="list-inline-item event-list">
                    <div class="px-4">
                      <div class="event-date bg-soft-danger text-danger"> Rentrée 2024</div>
                      <h5 class="font-size-16">BUT MMI </h5>
                      <p class="text-muted">Intégrer le parcours de création numérique du BUT MMI représente pour moi
                        une opportunité captivante et prometteuse, offrant un programme enrichissant qui couvre diverses
                        disciplines telles que l'audiovisuel, la 3D et le développement web, tout en restant ancré dans
                        le domaine de l'informatique.</p>

                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>

        <!-- <p class="aboutContentDetailsPara" data-aos="fade-up-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Après l'obtention de mon Baccalauréat Général en 2022 au lycée Jean Vilar de Meaux, j'ai choisi de
            m'orienter vers un programme d'études en informatique. C'est ainsi que j'ai décidé, via Parcoursup, d'opter
            pour le BTS SIO. </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            La découverte de l'informatique lors de ma première année m'a conduit à réaliser que le développement web et
            la programmation étaient mes véritables passions, ce qui m'a incité à choisir l'option SLAM en BTS.
            Cependant, c'est grâce à un projet et un stage que j'ai pleinement confirmé ce choix. Le projet m'a permis
            de travailler sur un développement web complexe en équipe, renforçant ainsi ma conviction. Par la suite,
            lors du stage, malgré son écart par rapport à mes choix initiaux, a été révélateur en me faisant comprendre
            que ma véritable place était dans le développement informatique.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            En résumé, ces expériences concrètes ont été déterminantes pour affirmer ma voie dans l'informatique. Elles
            ont renforcé ma conviction et m'ont offert un aperçu du monde professionnel, confirmant ainsi mon engagement
            envers le développement web et la programmation.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-up-left" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Intégrer la suite d'un BUT MMI (Métiers du Multimédia et de l'Internet, parcours création numérique)
            représente pour moi une opportunité captivante et prometteuse. Le programme proposé est enrichissant et très
            intéressant, car il offre une diversité de disciplines telles que l'audiovisuel, la 3D, tout en restant
            ancré dans le domaine de l'informatique car ily a du développement web. Cette combinaison harmonieuse entre
            ces
            différents domaines me permettrait d'explorer une palette étendue de compétences et de connaissances. En me
            plongeant dans ces enseignements, je pourrais non seulement approfondir ma compréhension des aspects
            techniques et créatifs de la création numérique, mais aussi développer une expertise polyvalente et
            adaptable aux besoins du marché du travail. Ainsi, en intégrant ce programme après mon BTS, je suis
            convaincu que je pourrais acquérir les compétences nécessaires pour évoluer avec succès dans le domaine
            passionnant du multimédia et de l'internet.
          </p>
        </div> -->


      </div>
      <div class="aboutContentSkills">
        <h3 class="aboutContentTitle" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          Expériences Professionnels </h3>



        <div class="card" data-aos="fade-down-left" data-aos-delay="160" data-aos-duration="1000"
          data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
          <div class="card-body">

            <div class="hori-timeline" dir="ltr">
              <ul class="list-inline events">
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-primary text-primary">6 semaines</div>
                    <h5 class="font-size-16">Stage administration réseau</h5>
                    <p class="text-muted">Au lycée Coubertin de Meaux, j'ai acquis une expérience informatique variée en
                      travaillant avec l'administrateur réseau, couvrant des tâches telles que l'installation de Windows
                      10, la migration des serveurs, la configuration des outils de communication et la résolution de
                      problèmes techniques. De plus, j'ai contribué à renforcer la sécurité du réseau en mettant en
                      place des mesures de protection des données, développant ainsi une compréhension approfondie de la
                      gestion informatique dans une structure éducative.</p>

                  </div>
                </li>
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-success text-success">6 séances</div>
                    <h5 class="font-size-16">Frabrique ton robot</h5>
                    <p class="text-muted"> participation à un projet de fabrication
                      de robot roulant proposé par une association. Nous avons créé un robot et une télécommande
                      numérique en utilisant des cartes Bluetooth et mBlock, développant ainsi nos compétences en
                      programmation et en conception de systèmes robotiques.
                    </p>

                  </div>
                </li>
                <li class="list-inline-item event-list">
                  <div class="px-4">
                    <div class="event-date bg-soft-danger text-danger"> 10 semaines</div>
                    <h5 class="font-size-16">Stage développeur : projet Augustine</h5>
                    <p class="text-muted">création de l'interface d'une application avec des instructions précis à l'aide Android Studio</p>

                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- 
          <p class="aboutContentDetailsPara" data-aos="fade-up-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            <strong> Stage Première année </strong>
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            J’ai acquis une expérience variée en informatique, notamment au lycée Coubertin de Meaux, où j'ai travaillé
            en
            étroite collaboration avec l'administrateur réseau de l'établissement. Ensemble, nous avons réalisé
            plusieurs
            tâches telles que l'installation de Windows 10, la migration des serveurs, la configuration des outils de
            communication tels que les boîtes mail pour l'administration, ainsi que la gestion des imprimantes de
            l’établissement. De plus, nous avons résolu divers problèmes techniques rencontrés au quotidien. Par
            ailleurs,
            j'ai contribué à renforcer la sécurité du réseau en mettant en place des mesures de protection des données.
            Cette expérience m'a permis de développer une compréhension approfondie de la gestion informatique au sein
            d'une structure éducative.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            <strong> Stage de deuxième année </strong>
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            bla bla
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            <strong>Projet réalisé avec une association </strong>

          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            Dans un petit local, une association nous a proposé de participer à un projet de fabrication de robot
            roulant.
            Nous étions un petit groupe de jeunes âgés de 15 à 18 ans. Au sein de ce travail d'équipe, nous avons créé
            un
            projet simplifié mais passionnant impliquant le câblage et la programmation d'un robot utilisant des cartes
            Bluetooth et programmées avec mBlock. Notre objectif était de concevoir un robot et une télécommande
            numérique
            pour le contrôler. Cette expérience nous a permis d'explorer de manière collaborative la mise en place de la
            communication sans fil via Bluetooth, tout en développant nos compétences en programmation et en conception
            de
            systèmes robotiques.
          </p>

          <p class="aboutContentDetailsPara" data-aos="fade-right" data-aos-delay="180" data-aos-duration="1000"
            data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
            À la fin du projet, j'ai également pu apporter mon aide aux élèves en difficulté, ce qui m'a permis de
            renforcer mes compétences en communication et en enseignement tout en contribuant à la réussite de l'équipe.
          </p>


        </div>

      </div> -->

    </div>

  </div>