<div class="container">
  <footer>
    <div class="footerContainer">
      <div
        class="row"
        data-aos="fade-up"
        data-aos-delay="250"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <div>
          <div class="social-icons">
        
            
          </div>
          <mat-divider class="divider"></mat-divider>
          <div class="page-scroll">
            <a
              id="to-top"
              class="page-scroll"
              (click)="scrollToTopWithDelay(500)"
            >
              <img
                id="rocket"
                src="../../../assets/img/rocket.png"
                matTooltip="Lift me up, rocketty"
                [matTooltipPosition]="tooltipPosition"
                [matTooltipShowDelay]="300"
                [matTooltipHideDelay]="300"
              />
            </a>
          </div>
          <mat-divider></mat-divider>
          <div class="copyright">
            <p>&COPY; sheinezbenbk 2025.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
